html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  height: 100%;
}

h3 {
  margin-top: 1rem;
  margin-bottom: 0.25rem;
}

select {
  border: 0.05rem solid #777777;
  padding: 0.25rem;
  background-color: #ffffff;
  border-radius: 0.25rem;
}

.app {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.header {
  display: flex;
  align-items: center;
  height: 4rem;
  box-shadow: 0 0.25rem 0.5rem #777777;
  font-size: 1.5rem;
  font-weight: bold;
  padding-left: 1rem;
  z-index: 10;
}

.content-container {
  flex-grow: 1;
}

.content {
  position: absolute;
  width: 100%;
  max-width: 60rem;
  left: 50%;
  max-height: 100%;
  transform: translateX(-50%);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  overflow-y: scroll;
}

.content::-webkit-scrollbar { /* WebKit */
  display: none;
}

.full {
  width: 100%;
  height: 100%;
}

.floating-container {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}

.floating-button {
  border: none;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  box-shadow: 0 0.25rem 0.5rem #777777;
  font-size: 1.5rem;
  padding: 0;
  margin: 0;
  z-index: 5;
}

.floating-container-center {
  position: absolute;
  left: 50%;
  bottom: 1rem;
  transform: translateX(-50%);
}

.floating-button-large {
  border: none;
  border-radius: 50%;
  width: 4.5rem;
  height: 4.5rem;
  cursor: pointer;
  box-shadow: 0 0.25rem 0.5rem #777777;
  font-size: 2rem;
  padding: 0;
  margin: 0;
}
